{
  "plugins": [
    [
      "module-resolver",
      {
        "cwd": "babelrc",
        "root": ["./src"],
        "extensions": [".js", ".ios.js", ".android.js"],
        "alias": {
          "_assets": "./src/assets",
          "_components": "./src/components",
          "_constants": "./src/constants",
          "_reduxmgt": "./src/reduxmgt",
          "_actions": "./src/reduxmgt/actions",
          "_reducers": "./src/reduxmgt/reducers",
          "_store": "./src/reduxmgt/store",
          "_routes": "./src/routes",
          "_styles": "./src/styles",
          "_utils": "./src/utils"
        }
      }
    ]
  ],
  "presets": [
    "module:metro-react-native-babel-preset",
    "module:react-native-dotenv"
  ]
}
